div.container {
  margin-left: 15px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

body {
  /*background-color: #99CCFF;*/
  background: url('/img/wild_oliva.png');
}

h1, h2, h3, h4, h5, h6 {
  color: #EEEEEE;
}

#wrapper {
  margin: auto;
  padding-left: 40px;
  padding-top: 60px;
}

.well{
  /*background-color: #CCFFFF;*/
}

a.validWord {
  display: block;
}

div#pastSearches a.validWord {
  display: inline-block;
  padding-right: 5px; 
}

textarea {
  /*height: 120px;*/
  overflow-y: scroll;
  background-color: #f5f5f5;
}

small {
  font-size: 10px;
  font-style: italic;
}

p.def {
  padding-left: 8px;
  font-size: 12px;
}

form {
  margin-bottom: 0;
}

.navbar a.brand {
  font-weight: 500;
  color: #ffffff;
}

.navbar a#save {
  position: fixed;
  top: 2px;
  right: 20px;
}
