h1 {
  font-size: 22px;
}

#wrapper {
  margin: auto;
  padding-left: 40px;
  padding-top: 40px;
}

a.validWord {
  display: block;
}

div#pastSearches a.validWord {
  display: inline;
  padding-right: 5px; 
}

textarea {
  /*height: 120px;*/
  overflow-y: scroll;
}

small {
  font-size: 10px;
  font-style: italic;
}

p.def {
  padding-left: 8px;
  font-size: 12px;
}
